<html>
    <head>
        <title>{% block title %}Ojas' Website {% endblock %}</title>
    </head>
    <body>
        <div id="content" , name="content">
            {% if user.is_authenticated %}
                <h2>Welcome, {{user}}</h2>
                <a href="/logout"> Logout </a> <br>
                <a href="/create"> Create/Update List </a> 
            {% else %}
            <p><a href="/login"> Login Here </a></p>
            {% endif %}
            {% block content %}
            {{name}}
            {% endblock %}
        </div>
    </body>
</html>